.gallery_element
{
    width: auto;
    height: 50vh;
    margin: 5vh;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    transition: all 2s ease-in-out;
}
.fullscreen
{
    position: absolute;
    height: 100vh;
    width: auto;
    justify-content: center;
    text-align: center;
    display: inline-block;
    z-index: 1;
}